.button {
  display: flex;
  margin: 0 auto;
  height: 40px;
  background-color: rgb(236, 65, 59);
  color: #fff;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid rgb(236, 65, 59);
  cursor: pointer;

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:active {
  background-color: rgb(241, 30, 23);
}

@media screen and (min-width: 768px) {
  .button {
    display: block;
    height: 50px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .button {
    font-size: 22px;
  }
}
