.item {
  padding: 6px 10px;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 400;
  color: #fff;
  background-color: rgb(236, 65, 59);
  border: 1px solid rgb(236, 65, 59);
  border-radius: 4px;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.short__address {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .item {
    padding: 8px 10px;
  }

  .short__address {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .item {
    padding: 10px;
    font-size: 20px;
    line-height: 1.2;
  }
}
