.container {
  display: flex;
}

.form {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.label {
  font-size: 18px;
  font-weight: 500;
  margin-right: 15px;
}

.input {
  height: 28px;
  padding: 10px 12px;
  width: 400px;
  font-size: 20px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #fff;
  margin-right: 15px;
  outline: none;
}
