.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px 30px;

  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.logo__container {
  margin-right: 25px;
}

.nav__container {
  margin-right: auto;
}

.link {
  font-size: 24px;
  font-weight: 700;
  color: rgb(236, 65, 59);
  text-decoration: none;
}

.link:hover {
  color: rgb(241, 30, 23);
}

.link:not(:last-child) {
  margin-right: 15px;
}
