.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px 30px;
  margin-bottom: 30px;

  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.logo__container {
  margin-right: 25px;
}

.svg__logo {
  display: block;
  width: 30px;
  height: 30px;
  fill: rgb(236, 65, 59);

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg__logo:hover {
  transform: scale(1.2);
}

.link {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  color: rgb(236, 65, 59);
  text-decoration: none;

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: rgb(241, 30, 23);
}

.link:not(:last-child) {
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: none;
  }

  .logo__container {
    margin-right: 30px;
  }

  .link:not(:last-child) {
    margin-right: 25px;
  }

  .nav__container {
    margin-right: auto;
  }

  .link {
    font-size: 24px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1200px) {
  .svg__logo:hover {
    transform: scale(1.3);
  }

  .logo__container {
    margin-right: 35px;
  }

  .link:not(:last-child) {
    margin-right: 35px;
  }
}
