.container__result {
  display: flex;
  padding: 80px 0 100px;
}

.container__into {
  display: flex;
  width: 700px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 450px;
  margin: 0 auto;
}

.list {
  padding: 15px;
  overflow: auto;
}

.list::-webkit-scrollbar {
  width: 3px;
  background-color: #fff;
}

.list::-webkit-scrollbar-thumb {
  background-color: rgb(236, 65, 59);
}
