.container {
  padding: 0 100px 0 0px;
  width: 40%;
}

.history__container {
  height: 400px;
  padding: 15px 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
}

.title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: rgb(236, 65, 59);
}
