.container {
  width: 90%;
  margin: 0 auto 50px;
}

.history__container {
  height: 420px;
  padding: 15px 0;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.history__list {
  padding: 5px 20px;
  text-align: center;
  height: 280px;
  overflow: auto;
  margin-bottom: 25px;
}

.history__list::-webkit-scrollbar {
  width: 3px;
  background-color: #fff;
}

.history__list::-webkit-scrollbar-thumb {
  background-color: rgb(236, 65, 59);
}

.title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: rgb(236, 65, 59);
}

.history__item {
  background-color: rgb(236, 65, 59);
  border: 1px solid rgb(236, 65, 59);
  padding: 8px 0;
  border-radius: 5px;

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.history__item:not(:last-child) {
  margin-bottom: 20px;
}

.history__item:hover {
  background-color: rgb(241, 30, 23);
}

.item__text {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.button {
  height: 40px;
  display: block;
  background-color: rgb(236, 65, 59);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid rgb(236, 65, 59);
  margin: 0 auto;
  cursor: pointer;

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:active {
  background-color: rgb(241, 30, 23);
}

.no__history {
  margin-top: 90px;
  padding: 0 10px;
}

.subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgb(236, 65, 59);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 60px 0 0px;
    width: 45%;
  }

  .history__container {
    height: 410px;
  }

  .history__list {
    padding: 5px 15px;
    margin-bottom: 20px;
  }

  .history__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 100px 0 0px;
    width: 40%;
  }

  .history__container {
    height: 400px;
  }

  .history__list {
    padding: 5px 8px;
    margin-bottom: 15px;
  }

  .history__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
