.button {
  display: block;
  background-color: rgb(236, 65, 59);
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid rgb(236, 65, 59);
  cursor: pointer;
}

.button:hover {
  background-color: rgb(241, 30, 23);
}
